/* Colour palette:;
Bleck: #000000;
that sexy ultraviolet: #B808FF
that cute pink: #E1B8B6;
that delicious light purple: #AAA4B1;
that sexy honey yellow:#FADE9D
icy blue: #C6E8E8;
navy blue: #4B7F90;
*/

html{
	box-sizing: border-box;
	font-family: 'Exo', sans-serif;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body{
	margin: 0;

}
header{
	position: relative;
	text-align: center;
	padding-top: 1em;
}
.7wonders {


}

.7wonders img {
	width: 100%;
  	margin: 2rem;
  	text-align: center;
}
figure {
  	margin: 1rem;
  	padding: 10px;
 }
.masthead {
	
	/*color: #512200;*/
	text-align: center;
}
h1 {
  	margin: 0 0 0.7rem;
  	clear: both;
  	text-align: center;
}
.centerh2{
	text-align: center;
	font-size: 25px;
	font-weight: regular;
}
.banner {
  	margin: 0 0 1.5rem;
  	padding: 0;
  	position: relative;
}

.banner figcaption {
    bottom: 10px;
  	position: absolute;
  	width: 100%;

  	color: #fff;
  	text-align: center;
  	text-shadow: 0 2px 3px rgba(0,0,0,0.8);
}
.banner strong{

  	font-size: 2rem;
}
.banner p{
 	text-align: center;
}
.banner img {
	width: 100%;
  	margin: 0;
  	text-align: center;
  	opacity: 12%;

}
.logo {
	margin: 0;
	padding: 0.2em 0 0.3em;

	background-image: url("../images/logo.svg"), url("../images/logo.svg");
	background-repeat: no-repeat;
	background-size: 32px auto;
	background-position: 15px center, calc(100% - 15px) center;
}
.nav {
	text-align: middle;
	margin: 0;
	overflow: hidden;
	padding: 0;

	background-color: #B808FF;
}

.nav li {
	display: block;
	list-style-type: none;
}
.nav a {
	display: block;
	padding: 1rem;
	color: #fff;
	font-size: 1rem;
	font-weight: regular;
	text-decoration: none;
}

.nav a:hover {
	background-color: #AAA4B1;
}
.learn {
	display: block;

	color: #fff;
	font-size: 1rem;
	font-weight: regular;
	text-decoration: none;
}

.learn:hover {
	background-color: #AAA4B1;
	padding: 1rem;	

}
.tickets {
	background-color: #4B7F90;
	padding: 1rem;
}
.tickets p{
	text-align: center;
}
.price nav {
	text-align: center;
	margin: 0;
	overflow: hidden;
	padding: 0;
	
}

.price nav li {
  	display: inline-block;
  	margin-bottom: 0.3em;
	list-style-type: none;
}
.price ul{
	padding: 0;
}
.price nav a {
  	display: inline-block;

  	padding: 1em 3.5em 1em;

  	border-radius: 4px;

  	color: #fff;
  	text-decoration: none;
}

.price nav a:hover {
  	background-color: #AAA4B1;
  	color: #fff;
}
.adult {
	background-color: #B808FF;
	margin: 0 1em;

}
.kids{
	background-color: #B808FF;
	margin: 0 1em;
}
.footer {
  	padding: 1rem 1rem;
  	margin: 0;

  	background-color: #B808FF;

  	color: white;
  	font-size: 0.8rem;
  	text-align: left;
}
.dayscoloured {
	background-color: #C6E8E8;
	padding: 1rem;
}
.days li{
	list-style-type: none;

}
.footer li{
	list-style-type: none;
	text-align: left;
}
.footer nav ul{
	list-style-type: none; /*how do you make this line not underlined*/
}